<div class="admin-container">
  <h1>Migrate</h1>
  
  <div class="form-section compact">
    <h3>Export Data</h3>
    
    <div class="form-grid form-grid-2">
      <div>
        <h4>CSV Format Export</h4>
        <p>Export data in CSV format, including all articles, pages, settings, etc.</p>
        <%= form_with url: admin_migrates_path, method: :post, data: { turbo: false } do |f| %>
          <%= hidden_field_tag :operation_type, 'export' %>
          <%= hidden_field_tag :export_type, 'default' %>
          <%= f.submit "Export Default Format", class: "btn btn-primary" %>
        <% end %>
      </div>
      
      <div>
        <h4>WordPress Export</h4>
        <p>Export data in WordPress WXR format, including all articles, pages, settings, etc.</p>
        <%= form_with url: admin_migrates_path, method: :post, data: { turbo: false } do |f| %>
          <%= hidden_field_tag :operation_type, 'export' %>
          <%= hidden_field_tag :export_type, 'wordpress' %>
          <%= f.submit "Export WordPress Format", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-section compact">
    <h3>Import Data</h3>
    
    <div class="form-grid form-grid-2">
      <div>
        <h4>Import from RSS</h4>
        <p>Import articles from an RSS feed URL</p>
        <%= form_with url: admin_migrates_path, method: :post, data: { turbo: false }, multipart: true do |f| %>
          <%= hidden_field_tag :operation_type, 'import' %>
          
          <div class="field">
            <%= label_tag :url, "RSS URL" %>
            <%= text_field_tag :url, nil, placeholder: "https://example.com/feed.xml" %>
          </div>
          
          <div class="field checkbox">
            <%= check_box_tag :import_images, '1', false %>
            <%= label_tag :import_images, "Import Images" %>
          </div>
          
          <%= f.submit "Import From RSS", class: "btn btn-primary" %>
        <% end %>
      </div>
      
      <div>
        <h4>Import from ZIP File</h4>
        <p>Upload a ZIP file containing exported data</p>
        <%= form_with url: admin_migrates_path, method: :post, data: { turbo: false }, multipart: true do |f| %>
          <%= hidden_field_tag :operation_type, 'import' %>
          
          <div class="field">
            <%= label_tag :zip_file, "ZIP File" %>
            <%= file_field_tag :zip_file, accept: ".zip" %>
            <small>Upload a ZIP file containing exported data (CSV files and attachments)</small>
          </div>
          
          <%= f.submit "Import From ZIP", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

</div>
