<div class="article-list">
  <% articles.each do |article| %>
    <article class="blog-post-item">
      <h2 class="post-title">
        <%= link_to article.title, article_path(article.slug) %>
      </h2>
      <div class="post-description">
        <% if article.description.present? %>
          <%= article.description %>
        <% else %>
          <%= truncate(strip_tags(article.content.to_s), length: 200) %>
        <% end %>
      </div>
      <%= render 'articles/article_meta', article: article %>
    </article>
  <% end %>
</div>
<%= will_paginate articles %>