<% site_url = normalized_site_url %>
<% list_classes = ["article-list", "timeline"] %>
<% list_classes << "is-home" if request.path == root_path %>
<div class="<%= list_classes.join(' ') %>">
  <% articles.each do |article| %>
    <% article_url = "#{site_url}#{article_path(article)}" %>
    <article class="timeline-item" data-article-id="<%= article.id %>">
      <div class="timeline-marker"></div>
      <div class="timeline-content">
        <div class="timeline-header">
          <div class="timeline-date">
            <%= link_to article_url do %>
              <time datetime="<%= article.created_at.iso8601 %>">
                <%= article.created_at.strftime("%Y-%m-%d") %>
              </time>
            <% end %>
          </div>
          <% if article.tags.any? %>
            <div class="timeline-tags">
              <% article.tags.each do |tag| %>
                <%= link_to "##{tag.name}", tag_path(tag.slug), class: "tag", data: { turbo_frame: "_top" } %>
              <% end %>
            </div>
          <% end %>
        </div>
        <% if article.title.present? %>
          <h2 class="post-title">
            <%= link_to article.title, article_url %>
          </h2>
          <% if article.description.present? %>
            <div class="post-description">
              <%= article.description %>
            </div>
          <% else %>
            <div class="post-content">
              <%= article.html? ? safe_html_content(article.rendered_content) : article.rendered_content %>
            </div>
          <% end %>
        <% else %>
          <%= render 'articles/source_reference', article: article %>
          <% if article.description.present? %>
            <div class="post-description">
              <%= article.description %>
            </div>
          <% else %>
            <div class="post-content">
              <%= article.html? ? safe_html_content(article.rendered_content) : article.rendered_content %>
            </div>
          <% end %>
        <% end %>
      </div>
    </article>
  <% end %>
</div>

<div class="pagination">
<%= will_paginate articles %>
</div>
