<% article_route_prefix = Rails.application.config.x.article_route_prefix %>
<div class="article-list timeline">
  <% articles.each do |article| %>
    <article class="timeline-item" data-article-id="<%= article.id %>">
      <div class="timeline-marker"></div>
      <div class="timeline-content">
        <div class="timeline-header">
          <div class="timeline-date">
            <time datetime="<%= article.created_at.iso8601 %>">
              <%= article.created_at.strftime("%Y-%m-%d") %>
            </time>
          </div>
          <% if article.tags.any? %>
            <div class="timeline-tags">
              <% article.tags.each do |tag| %>
                <a href="/tags/<%= tag.slug %>.html" class="tag">#<%= tag.name %></a>
              <% end %>
            </div>
          <% end %>
        </div>
        <div>
          <% if article.title.present? %>
            <h2 class="post-title">
              <% if article_route_prefix.present? %>
                <a href="/<%= article_route_prefix %>/<%= article.slug %>.html"><%= article.title %></a>
              <% else %>
                <a href="/<%= article.slug %>.html"><%= article.title %></a>
              <% end %>
            </h2>
            <% if article.description.present? %>
              <div class="post-description">
                <%= article.description %>
              </div>
            <% end %>
          <% else %>
            <%= render 'articles/source_reference', article: article %>
            <% if article_route_prefix.present? %>
              <a href="/<%= article_route_prefix %>/<%= article.slug %>.html" class="post-content-link">
            <% else %>
              <a href="/<%= article.slug %>.html" class="post-content-link">
            <% end %>
              <div class="post-content">
                <%= render_article_content_with_social_cards(article) %>
              </div>
            </a>
          <% end %>
        </div>
      </div>
    </article>
  <% end %>
</div>

<% if articles.respond_to?(:total_pages) && articles.total_pages > 1 %>
<div class="pagination">
  <% if articles.current_page > 1 %>
    <a href="/page/<%= articles.current_page - 1 %>.html" class="prev_page">&laquo; Previous</a>
  <% end %>
  
  <% (1..articles.total_pages).each do |page| %>
    <% if page == articles.current_page %>
      <span class="current"><%= page %></span>
    <% else %>
      <a href="/page/<%= page %>.html"><%= page %></a>
    <% end %>
  <% end %>
  
  <% if articles.current_page < articles.total_pages %>
    <a href="/page/<%= articles.current_page + 1 %>.html" class="next_page">Next &raquo;</a>
  <% end %>
</div>
<% end %>

