<% content_for :title do %>
  <%= @article.title %> | <%= site_settings[:title] %>
<% end %>
<article>
  <small><%= @article.created_at.to_date %></small>
  <h2><%= @article.title %></h2>
  <%= @article.content %>
</article>

<% if @article.social_media_posts.present? %>
  <br>
  <b>Discussion on </b>
  <% if mastodon_url = @article.social_media_posts.find_by(platform: 'mastodon')&.url %>
    <%= link_to "Mastodon", mastodon_url, target: "_blank" %>,
  <% end %>
  <% if twitter_url = @article.social_media_posts.find_by(platform: 'twitter')&.url %>
    <%= link_to "X", twitter_url, target: "_blank" %>,
  <% end %>
  <% if bluesky_url = @article.social_media_posts.find_by(platform: 'bluesky')&.url %>
    <%= link_to "Bluesky", bluesky_url, target: "_blank" %>.
  <% end %>
<% end %>
<hr>
<div class="giscus"></div>