<article>
  <%= render "article_meta", article:@article%>
  <div class="article-content">
    <%= @article.content %>
  </div>
</article>

<% if @article.crosspost_urls.present? %>
<br>
<b>Discussion on </b>
    <% if @article.crosspost_urls['mastodon'].present? %>
      <%= link_to ' Mastodon', @article.crosspost_urls['mastodon'], target: '_blank' %>
    <% end %>
    <% if @article.crosspost_urls['twitter'].present? %>
      <%= link_to ' X', @article.crosspost_urls['twitter'], target: '_blank' %>
    <% end %>
    <% if @article.crosspost_urls['bluesky'].present? %>
      <%= link_to ' Bluesky', @article.crosspost_urls['bluesky'], target: '_blank' %>
    <% end %>
<% end %>