<div class="articles-admin">     
  <% @posts.each do |post| %>

    <div class="row-actions">
     
        <%= link_to "edit", edit_article_path(post) %> |
        <%= link_to "view", article_path(post) %> |
        <% if post.status != "trash" %>
          <%= link_to "trash", article_path(post), 
                data: { turbo_method: :delete } %> |
        <% else %>
          <%= link_to "delete", article_path(post),
                data: { turbo_method: :delete, turbo_confirm: "Delete permanently?" } %> |
        <% end %>
      
        <%= link_to post.title, edit_article_path(post), class:"title" %>
    </div>
  <% end %>             
  
  <%= render "components/pagination", 
      page: @page, 
      per_page: @per_page, 
      total_count: @total_count,
      url_params: { status: params[:status] } %>
</div>

