<% content_for :head do %>
  <%= stylesheet_link_tag 'status_tabs', media: 'all' %>
<% end %>

<div class="status-tabs">
    <%= link_to "Published (#{@scope.publish.count})",
            url_for(controller: controller_name, action: action_name, status: 'publish'),
            class: "status-tab #{@status == 'publish' ? 'active' : ''}" %> -
    <%= link_to "Draft (#{@scope.draft.count})",
            url_for(controller: controller_name, action: action_name, status: 'draft'),
            class: "status-tab #{@status == 'draft' ? 'active' : ''}" %> -
    <%= link_to "Scheduled (#{@scope.schedule.count})",
            url_for(controller: controller_name, action: action_name, status: 'schedule'),
            class: "status-tab #{@status == 'schedule' ? 'active' : ''}" %> -
    <%= link_to "Shared (#{@scope.shared.count})",
            url_for(controller: controller_name, action: action_name, status: 'shared'),
            class: "status-tab #{@status == 'shared' ? 'active' : ''}" %> -
    <%= link_to "Trash (#{@scope.trash.count})", 
            url_for(controller: controller_name, action: action_name, status: 'trash'),
            class: "status-tab #{@status == 'trash' ? 'active' : ''}" %>
</div>