<h3>Import Data</h3>

<h4>Import from RSS</h4>
<%= form_tag admin_imports_path, method: :post, local: true, data: { turbo: false }, multipart: true do %>
  <%= label_tag :url, "RSS URL:" %>
  <%= text_field_tag :url, nil, placeholder: "https://example.com/feed.xml" %><br>
  <%= check_box_tag :import_images, '1' %>
  <%= label_tag :import_images, "Import Images" %><br>
  <%= submit_tag "Import From RSS", class: "admin-button" %>
<% end %>

<hr>

<h4>Import from ZIP File</h4>
<%= form_tag admin_imports_path, method: :post, local: true, data: { turbo: false }, multipart: true do %>
  <%= label_tag :zip_file, "ZIP File:" %>
  <%= file_field_tag :zip_file, accept: ".zip", placeholder: "Select a ZIP file to import" %><br>
  <small>Upload a ZIP file containing exported data (CSV files and attachments)</small><br>
  <%= submit_tag "Import From ZIP", class: "admin-button" %>
<% end %>

<br>
<%= render 'admin/shared/activitylog', activity_logs: @activity_logs %>
