<% content_for :title, "Tags|Admin" %>

<div class="admin-tags">
  <div class="admin-toolbar">
    <%= link_to "New Tag", new_admin_tag_path, class: "btn btn-primary" %>
  </div>

  <div class="table-container">
    <table class="admin-table compact-table">
      <thead>
        <tr>
          <th class="col-actions-compact">Actions</th>
          <th class="col-title">Name</th>
          <th class="col-slug">Slug</th>
          <th class="col-compact">Articles</th>
        </tr>
      </thead>
      <tbody>
        <% if @tags.any? %>
          <% @tags.each do |tag| %>
            <tr>
              <td class="col-actions-compact">
                <div class="action-buttons">
                  <%= link_to edit_admin_tag_path(tag), class: "action-btn", title: "Edit" do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to admin_tag_path(tag), class: "action-btn", title: "Delete",
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
              </td>
              <td class="col-title">
                <%= link_to tag.name, edit_admin_tag_path(tag), class: "title-link" %>
              </td>
              <td class="col-slug">
                <small><%= tag.slug %></small>
              </td>
              <td class="col-compact">
                <%= tag.articles.count %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="4" class="no-content-row">
              <p>No tags found.</p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
