<% content_for :title do %>
  <%= @page.title %> | <%= site_settings[:title] %>
<% end %>
<article>
  <div class="article-content">
    <% if @page.html? %>
      <%= raw @page.html_content %>
    <% else %>
      <%= @page.content %>
    <% end %>
  </div>
</article>
<hr>
<div class="giscus"></div>
<%= raw site_settings[:giscus] %>
