<%= turbo_stream.append "verify-messages-#{@platform}" do %>
  <div class="flash flash-<%= @status == 'success' ? 'notice' : 'alert' %>">
    <%= @message %>
  </div>
<% end %>

<%= turbo_stream.update "verify-button-#{@platform}" do %>
  <%= button_tag "Verify", type: 'submit', class: 'btn btn-secondary', form: "verify-form-#{@platform}", data: { turbo_frame: "_top" } %>
<% end %>

