<p><b>Static Files</b></p>
<div id="static-files">
  <%= form_with url: upload_admin_setting_path, multipart: true do |form|%>
    <%= form.label :file, "Upload File" %>
    <%= form.file_field :file %>
    <%= form.submit "Upload" %>
  <% end %>

  <table>

    <% @files.each do |file| %>
      <tr>
        <td>
          <%= button_to '删除', admin_setting_path(filename: file),
                        method: :delete,
                        form: { data: { turbo_confirm: '确认删除该文件？' } },
                        class: 'btn-danger' %>
        </td>
        <td><%= link_to file, "/#{file}" %></td>
      </tr>
    <% end %>
  </table>
</div>
