<%= render 'admin/shared/header' %>

<%= form_with(model: @setting) do |form| %>
  <% if @setting.errors.any? %>
    <div style="color: red">
      <h3><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h3>
      <ul>
        <% @setting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= form.label :title, 'Site Title' %></b>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <b><%= form.label :description, 'Site Description' %></b>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <b><%= form.label :author, 'Author' %></b>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <b><%= form.label :url, 'Site URL' %></b>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <b><%= form.label :time_zone, "Timezone" %></b>
    <%= form.select :time_zone,
                 timezone_options,
                 { selected: @setting.time_zone || "UTC" },
                 { class: "form-select" } %>
  </div>

  <div class="field">
    <b><%= form.label :head_code, 'Head Code' %></b><br>
    <%= form.text_area :head_code %>
  </div>

  <div class="field">
    <b><%= form.label :giscus, 'Giscus Code' %></b><br>
    <%= form.text_area :giscus %>
  </div>

  <div class="field">
    <b><%= form.label :tool_code, 'Tool Code' %></b><br>
    <%= form.text_area :tool_code %>
  </div>

  <div class="field">
    <b><%= form.label :footer, 'Footer' %></b>
    <%= form.rich_text_area :footer %>
  </div>

  <div class="field">
    <b><%= form.label :custom_css, 'Custom CSS' %></b><br>
    <%= form.text_area :custom_css %>
  </div>

  <div class="field">
    <%= render 'admin/settings/form_social_links', form:form %>
  </div>

  <div class="actions">
    <%= form.submit 'Save' %>
  </div>
<% end %>
<hr>
<div class="field">
  <%= render 'admin/settings/form_static_files' %>
</div>

<hr>
<small class="git-version">
  <span>Depoly Git Hash: <%= VersunCms::Application.git_version %></span> |
  <a href="https://github.com/versun/VersunCMS" target="_blank">View on GitHub</a>
</small>
