<div class="admin-container">
  <h1>Activity</h1>
  
  <div class="form-section">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>Level</th>
          <th>Action</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <% @activity_logs.each do |log| %>
          <tr class="<%= case log.level&.to_sym
                        when :error then 'table-danger'
                        when :warn then 'table-warning'
                        when :info then 'table-success'
                        else ''
                        end %>">
            <td><%= log.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
            <td><span class="badge <%= case log.level&.to_sym
                                      when :error then 'bg-danger'
                                      when :warn then 'bg-warning'
                                      when :info then 'bg-success'
                                      else 'bg-secondary'
                                      end %>">
                  <%= log.level&.capitalize || 'Unknown' %>
                </span></td>
            <td><%= log.action %></td>
            <td>
              <% if log.description&.include?('/tmp/exports/') %>
                <% filename = log.description.split('/').last %>
                <% if filename.present? %>
                  <%= log.description.split(':').first %>:
                  <%= link_to "Download #{filename}", admin_download_path(filename),
                      class: "btn btn-sm btn-primary ml-2",
                      download: filename %>
                <% else %>
                  <%= log.description %>
                <% end %>
              <% else %>
                <%= log.description %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
    </table>

  </div>
</div>
