<header class="admin-header">
  <table width="70%">
    <tr>
      <td>
        | <%= link_to "Posts", admin_articles_path, class: "admin-nav-link" %> |
        <%= link_to "Pages", admin_pages_path, class: "admin-nav-link" %> |
      </td>
      <td>
        <%= link_to "Export", admin_exports_path, class: "tool-link" %> |
        <%= link_to "Import", admin_imports_path, class: "tool-link" %> |
        <%= link_to "Crosspost", admin_crossposts_path, class: "tool-link" %> |
        <%= link_to "Newsletter", admin_newsletter_path, class: "tool-link" %> |
      </td>
      <td>
        <%= link_to "Jobs", admin_jobs_path, class: "tool-link" %> |
        <%= link_to "Settings", edit_admin_setting_path, class: "admin-nav-link" %> |
        <%= link_to "Account", edit_user_path(Current.user), class: "admin-nav-link" %> |
      </td>
      <td align="right">
        <%= button_to "Logout", session_path, method: :delete, data: { turbo_method: :delete }, class: "admin-button" %>
      </td>
    </tr>
  </table>
</header>
