<header class="admin-header">
  <nav class="admin-nav">
    <div class="nav-left">
      <%= link_to "View Site", root_path, class: "admin-nav-link brand-link" %>
    </div>
    
    <div class="nav-center">
      <%= link_to "Posts", admin_articles_path, class: "admin-nav-link" %>
      <%= link_to "Pages", admin_pages_path, class: "admin-nav-link" %>
      <%= link_to "Static Files", admin_static_files_path, class: "admin-nav-link" %>
      <%= link_to "Redirects", admin_redirects_path, class: "admin-nav-link" %>
      <%= link_to "Site Settings", edit_admin_setting_path, class: "admin-nav-link" %>
      
      <div class="nav-divider"></div>
      
      <%= link_to "Migrate", admin_migrates_path, class: "admin-nav-link tool-link" %>
      <%= link_to "Backup", admin_backups_path, class: "admin-nav-link tool-link" %>
      <%= link_to "Crosspost", admin_crossposts_path, class: "admin-nav-link tool-link" %>
      <%= link_to "Newsletter", admin_newsletter_path, class: "admin-nav-link tool-link" %>
      <%= link_to "Jobs", admin_jobs_path, class: "admin-nav-link tool-link" %>
    </div>

    <div class="nav-right">
      <% if Current.user.present? %>
        <%= link_to "Account", edit_user_path(Current.user), class: "admin-nav-link" %>
        <%= link_to "Logout", session_path, method: :delete, data: { turbo_method: :delete }, class: "admin-button logout-btn" %>
      <% end %>
    </div>
  </nav>
</header>
