<h3>Import Data</h3>
<%= form_tag from_rss_admin_import_index_path, multipart: true do %>
  <%= label_tag :url, "RSS URL:" %>
  <%= text_field_tag :url, nil, required: true%><br>
  <%= check_box_tag :import_images, '1' %>
  <%= label_tag :import_images, "Import Images" %><br>
  <%= submit_tag "Import From RSS", class: "admin-button" %>
<% end %>
<br>
<% render 'admin/shared/activitylog', activity_logs: @activity_logs %>
