<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Admin" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "lexxy" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="admin-body">
    <%= render 'admin/shared/header' %>
    <main class="admin-main">
      <%= tag.div(flash[:alert], class: "flash-message flash-alert") if flash[:alert] %>
      <%= tag.div(flash[:notice], class: "flash-message flash-notice") if flash[:notice] %>
      <%= yield %>
    </main>
  </body>
</html>
