<!DOCTYPE html>
<html>
  <head>

    <title><%= content_for?(:title) ? yield(:title) : site_settings[:title] %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="alternate" type="application/rss+xml" title="<%= site_settings[:title] %>" href="/feed">

    <%# Includes all stylesheet files in app/views/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "lexxy" %>

    <%= javascript_importmap_tags %>
    <%= raw site_settings[:head_code] %>

    <style>
        body {
            max-width: 880px;
            margin: 0 auto;
            padding: 10px;
            background: #f8f4ee;
        }
        a:hover {
            text-decoration: underline wavy;
            background-color: #f0f0f0;
        }
      <%= site_settings[:custom_css] %>
    </style>
  </head>

  <body>
    <header>
      <table width="100%">
        <tr>
          <td>
            <h1><%= link_to site_settings[:title], root_path %></h1>
          </td>
          <td align="right" width="50%">
              <p class="description"><%= site_settings[:description] %></p>
          </td>
        </tr>
      </table>

      <table width="100%">
        <tr>
          <td>
            <%= render 'components/nav_bar', navbar_items: navbar_items, site_settings: site_settings %>
          </td>
          <td align="right" width="30%">
            <%= form_tag root_path, method: :get, class: 'search-form' do %>
              <%= search_field_tag :q, params[:q], placeholder: 'Search...' %>
              <%= submit_tag 'Search' %>
            <% end %>
          </td>
        </tr>
      </table>
      <%= yield :nav %>
    </header>

    <hr>

    <%= raw site_settings[:tool_code] %>

    <main>
      <%= yield %>
    </main>

    <hr>

    <%= render 'components/footer', site_settings: site_settings %>
    <%= yield :javascript %>
  </body>
</html>
