<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : site_settings[:title] %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" href="/favicon.png">
    <link rel="alternate" type="application/rss+xml" title="<%= site_settings[:title] %>" href="/feed">

    <%# Includes all stylesheet files in app/views/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= raw site_settings[:head_code] %>

    <style>
      <%= site_settings[:custom_css] %>
    </style>
  </head>

  <body>
    <div class="site-container">
      <aside class="sidebar">
        <header class="sidebar-header">
          <h1><a href="/" class="front-page-title"><%= site_settings[:title] %></a></h1>
          <p class="site-description"><%= site_settings[:description] %></p>
        </header>
        <div class="social-links">
            <a href="/rss" target="_blank" class="social-icon" rel="rss">
              <%= image_tag "/rss.svg", size: "20", alt: "RSS", class: "social-icon" %></a>
            <% if site_settings[:social_links].present? %>
              <% site_settings[:social_links].each do |platform, data| %>
                <% if data['url'].present? %>
                  <a rel="me" href="<%= data['url'] %>" target="_blank" class="social">
                    <%= image_tag "/#{data['icon_path']}",
                                  size: "20",
                                  alt: platform.to_s.titleize,
                                  class: "social-icon",
                                  title: platform.to_s.titleize %></a>
                <% end %>
              <% end %>
            <% end %>
        </div>        
        <nav class="sidebar-nav">
          <%= render 'components/nav_bar', navbar_items: navbar_items, site_settings: site_settings %>
        </nav>
        <div class="sidebar-footer">
          <%= render 'components/footer', site_settings: site_settings %>
        </div>
      </aside>

      <main class="main-content">
        <div class="limiter">
          <%= yield %>
        </div>
      </main>
    </div>

    <%= raw site_settings[:tool_code] %>
    <%= yield :javascript %>
  </body>
</html>