<!DOCTYPE html>
<html>
  <head>
    
    <title><%= site_settings[:title] %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="alternate" type="application/rss+xml" title="<%= site_settings[:title] %>" href="/blog.rss">
    
    <%# Includes all stylesheet files in app/views/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
    <%= raw site_settings[:head_code] %>

    <style>
      <%= site_settings[:custom_css] %>
    </style>
  </head>

  <body>
    <header>
      <%= render 'components/nav_bar', navbar_items: navbar_items, site_settings: site_settings %>
    </header>

    <hr>

    <%= render "components/tool_bar" %>
    
    <main> 
      <%= yield %>
    </main>
    
    <hr>

    <%= render 'components/footer', site_settings: site_settings %>
    <%= yield :javascript %>
  </body>
</html>
